#light .app {
  padding: 50px;
  background-color: white;
}

#dark .app {
  padding: 50px;
  background-color: black;
}

#dark {
  background-color: black;
  display: flex;
  flex: 1;
}

#light {
  background-color: white;
  display: flex;
  flex: 1;
}